.l-search-input {
  border: var(--generic-border-color) solid 1px;
  margin: 16px;
  border-radius: 8px;
  overflow: hidden;
  padding: 0;
}

.l-search-icon {
  background: var(--input-background);
}
