@use "../../page-size-mixin";

.l-offices-grid {
  display: grid;
  gap: 16px;
  max-width: 1140px;
  grid-template-columns: repeat(1, 1fr);
  margin: auto;
  grid-column: span 1;
}

@include page-size-mixin.breakpoints(tablet) {
  .l-offices-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-column: span 1;
  }
}

@include page-size-mixin.breakpoints(laptop) {
  .l-offices-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 1;
  }
}
