:root {
  --primary: #F8FAFC;
  --secondary: #489DDA;
  --default-text-color: #484955;
  --danger: #F44336;
  --gold: #FEBE0B;
  --light-brown: #FE9B71;
  --dark-orange: #FB5606;
  --dark-brown: #97512C;
  --light-purple: #DBBADE;
  --dark-pink: #FD146E;
  --light-lime: #A9F0D1;
  --dark-lemon: #12B401;
  --blue: #0B72E8;
  --purple: #8338EC;
  --generic-border-color: #e8F3FC;
  --black: #000000;
  --plus-button-blue: #0D4477;
  --grey-border: #475569;
}
