:root {
  --primary: #f8fafc;
  --secondary: #489dda;
  --default-text-color: #484954;
  --danger: #f44336;
  --gold: #febe0b;
  --light-brown: #fe9b71;
  --dark-orange: #fb5606;
  --dark-brown: #97512c;
  --light-purple: #dbbade;
  --dark-pink: #fd146e;
  --light-lime: #a9f0d1;
  --dark-lemon: #12b401;
  --blue: #0b72e8;
  --purple: #8338ec;
  --generic-border-color: #e8f3fc;
  --black: #000000;
  --plus-button-blue: #0d4477;
  --grey-border: #475569;
}
